.cart-icon{
    color: white;
    font-size: 25px;
}
.navIcon{
    position: relative;
    // background-color: rgb(156, 119, 119) !important;
}
.count{
    top:01% ;
    left: 80%;
    padding: 2px 8px;
    font-size: 10px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
}